.cat {
    margin: 100px 0;
    text-align: center;
    font-family: Verdana;
}

.cat-txt-card {
    height: 80vh;
    margin-left: 5vw;
    margin-top: 5vh;
}

.cat-api-card {
    height: 80vh;
    margin-right: 5vw;
    margin-top: 5vh;
}

