* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --amarelo: #f7ae2b;
  --marrom: #be6723;
  --amareloclaro: #ffff95;
  --azul: #32237e;
  --vermelho: #943335;
  --grayMedium: #e5e5e5;
  --white: #FFFFFF;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  margin-top: 0.5%;
}

a {
  color: inherit;
}

#root {

  display: flex;
  flex-direction: column;
}