.contato {
    margin: 14vh 0 33vh 0;
}


#titulo {
    margin-left: 30%;
    margin-bottom: 35px;
}

#titulo h1{
    margin-bottom: 0px;
}

#form-de-contato{
    margin-right: 30%;
    margin-left: 30%;
}

#erros {
    font-size: 0.7em;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 10;
    text-align: center;
    
    
}

