.contato {
    margin-top: 14vh;
    height: 74.7vh;
}

#titulo {
    margin-left: 30.5%;
    margin-bottom: 5px;
}

#titulo h1{
    margin-bottom: 0px;
}

#form-de-contato{
    margin-right: 30%;
    margin-left: 30%;
}

#erros {
    margin-left: 30.5%;
    margin-right: 29%;
    font-size: 0.8em;
    z-index: 10;
}

#erros p{
    text-align: left;
    margin: 0px 0px 5px 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(255, 0, 0, 0.5);
}

.footer{
    position: relative;
    bottom: 0px;
}

@media(max-width: 699px){
    #erros{
        margin-left: 7.5%;
        margin-right: 5%;
    }

        
    #form-de-contato{
        margin-right: 10%;
        margin-left: 5%;
    }
    
    
    #titulo {
        margin-left: 7.5%;
        margin-bottom: 5px;
        margin-top: 0px;
    }
}

