.home {
    margin: 2% 2%;
    text-align: center;
}

.c-card {
    height: 96%;
    margin-top: 3%;
    width: 95%;
}

.d-card {
    height: 96%;
    margin-top: 3%;
    width: 95%;
}

.cd-botao {
    padding: auto;

}

.link {
    text-decoration: none;
}

.link:hover {
    color: var(--amarelo);
}