.home {
    margin: 2% 2%;
    text-align: left;
}

.c-card {
    height: 50%;
    margin-top: 3%;
    width: 48%;
}

.d-card {
    height: 50%;
    margin-top: 3%;
    width: 48%;
}

@media(max-width:699px){
    .c-card {
        height: 98%;
        margin-top: 11%;
        width: 98%;
    }
    
    .d-card {
        height: 98%;
        margin-top: 11%;
        width: 98%;
    }
        
}

.cd-botao {
    padding: auto;

}

.cg-botao{
    position: relative;
    bottom: 10px;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: var(--amarelo);
}

.caixa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}