.home {
    margin: 100px 0;
    text-align: center;
    font-family: Verdana;
    background-image: url("../../assets/img/Fundo\ CatDog.jpg");
    background-attachment: fixed;
    
}

.c-card {
    height: 68vh;
    margin-left: 5vw;
    margin-top: 5vh;
}

.d-card {
    height: 68vh;
    margin-right: 5vw;
    margin-top: 5vh;
}

.cd-botao {
    padding: auto;
}