.footer {
    background: var(--amareloclaro);
    border-top: 2px solid var(--amarelo);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: black;
    text-align: center;
    width: 100%;

    @media (max-width: 800px) {
        margin-bottom: 50px;
    }
}